
.carousel-indicators .active {
  background-color: #00aae6 !important;
}
.carousel-indicators li {
  background-color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
